@model WebClientCore.Models.Question

@{
    ViewData["Title"] = "Quiz - Question";
}
<!--Formulaire pour l'ajout d'une question-->
<form asp-controller="Question" asp-action="Validate" method="post">
    Title:  <input asp-for="Title" /> <br />

    <button type="submit">Validate</button>
</form>
