frontend webcore
    bind */api:80
    mode http
    default_backend api
	
backend api
    mode http
    balance roundrobin
    option forwardfor
    http-request set-header X-Forwarded-Port %[dst_port]
    http-request add-header X-Forwarded-Proto https if { ssl_fc }
    option httpchk HEAD / HTTP/1.1\r\nHost:localhost
    server web01 127.0.0.1:81 check
    server web02 127.0.0.1:82 check