@model WebClientCore.Models.Question

@{
    ViewData["Title"] = "Quiz - Question";
}
<!-- formulaire de saisie de question -->
<form asp-controller="Question" asp-action="Validate" method="post">
    Title:  <input asp-for="Title" /> <br />

    <button type="submit">Validate</button>
</form>
